{extends layout.latte}


{block title}Update person form{/block}

{block body}
<div class="container">
      <h1>Update person</h1>
</div>
{include person-form.latte, operation => 'Update'}


{/block}
